target/
.env/
contracts/
assets/
docs/
devnet/
specs/
.config/
Justfile
book.toml
.gitmodules
CODEOWNERS
.github/
.claude/
README.md
LICENSE
SECURITY.md

# Added by SEC-1406 patch
.git
.gitignore
.docker-cache/
.DS_Store
**/.DS_Store
