[submodule "pkg/contracts/lib/forge-std"]
	path = pkg/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pkg/contracts/lib/BokkyPooBahsDateTimeLibrary"]
	path = pkg/contracts/lib/BokkyPooBahsDateTimeLibrary
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary
[submodule "pkg/contracts/lib/world-id-contracts"]
	path = pkg/contracts/lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
[submodule "pkg/contracts/lib/safe-contracts"]
	path = pkg/contracts/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "pkg/contracts/lib/openzeppelin-contracts"]
	path = pkg/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "pkg/contracts/lib/account-abstraction"]
	path = pkg/contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "pkg/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = pkg/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "pkg/contracts/lib/safe-modules"]
	path = pkg/contracts/lib/safe-modules
	url = https://github.com/worldcoin/safe-modules
[submodule "pkg/contracts/lib/nitro-validator"]
	path = pkg/contracts/lib/nitro-validator
	url = https://github.com/base/nitro-validator
[submodule "pkg/contracts/lib/sp1-contracts"]
	path = pkg/contracts/lib/sp1-contracts
	url = https://github.com/succinctlabs/sp1-contracts
[submodule "pkg/contracts/lib/optimism"]
	path = pkg/contracts/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
