[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.89.0"
license = "MIT"
homepage = "https://world.org/world-chain"
repository = "https://github.com/worldcoin/world-chain/"

[workspace]
resolver = "3"
members = [
    "crates/tests/*",
    "crates/toolkit",
    "crates/world/*",
    "crates/flashblocks/p2p",
    "crates/flashblocks/primitives",
    "crates/flashblocks/rpc",
    "crates/flashblocks/builder",
    "crates/flashblocks/payload",
    "crates/flashblocks/node",
    "crates/flashblocks/cli",
]
default-members = [
    "crates/flashblocks/p2p",
    "crates/flashblocks/primitives",
    "crates/flashblocks/rpc",
    "crates/flashblocks/builder",
    "crates/flashblocks/payload",
    "crates/flashblocks/node",
    "crates/flashblocks/cli",
    "crates/world/bin",
    "crates/world/node",
    "crates/world/payload",
    "crates/world/rpc",
    "crates/world/pbh",
    "crates/world/pool",
    "crates/tests/sepolia",
    "crates/tests/devnet",
]

[profile.maxperf]
codegen-units = 1
inherits = "release"
lto = "fat"

[workspace.lints]

[workspace.dependencies]
# Flashblocks
flashblocks-node = { path = "crates/flashblocks/node" }
flashblocks-p2p = { path = "crates/flashblocks/p2p" }
flashblocks-primitives = { path = "crates/flashblocks/primitives" }
flashblocks-rpc = { path = "crates/flashblocks/rpc" }
flashblocks-builder = { path = "crates/flashblocks/builder" }
flashblocks-payload = { path = "crates/flashblocks/payload" }
flashblocks-cli = { path = "crates/flashblocks/cli" }

# Internal
world-chain-node = { path = "crates/world/node" }
world-chain-pbh = { path = "crates/world/pbh" }
world-chain-payload = { path = "crates/world/payload" }
world-chain-rpc = { path = "crates/world/rpc" }
world-chain-pool = { path = "crates/world/pool" }
world-chain-test = { path = "crates/world/test" }

# reth
reth = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-cli-util = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-cli = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-evm = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2", features = [
    "op",
] }
reth-db = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-db-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-provider = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2", features = [
    "test-utils",
] }
reth-basic-payload-builder = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc-server-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc-eth-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc-eth-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-prune-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-trie = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-chain-state = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-ethereum = { git = "https://github.com/paradigmxyz/reth", features = [
    "network",
], tag = "v1.8.2" }
reth-eth-wire = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-eth-wire-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-stages-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-trie-db = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-primitives-traits = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth", features = [
    "test-utils",
], tag = "v1.8.2" }
reth-engine-local = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2", features = [
    "op",
] }
reth-node-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-payload-builder = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-payload-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-payload-util = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-payload-validator = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2", default-features = false, features = [
    "std",
] }
reth-tasks = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc-engine-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-network = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-network-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-network-peers = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
# reth-optimism
reth-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-evm = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-node = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-cli = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-rpc = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-consensus = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-chainspec = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth_payload_util = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-payload-builder = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-forks = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-e2e-test-utils = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-consensus = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-node-core = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-rpc-layer = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-optimism-storage = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-storage-api = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }
reth-op = { git = "https://github.com/paradigmxyz/reth", tag = "v1.8.2" }

# alloy op
op-alloy-consensus = {version = "0.20.0", default-features = false }
op-alloy-rpc-types = { version = "0.20.0", default-features = false }
op-alloy-rpc-types-engine = { version = "0.20.0", default-features = false }
op-alloy-network = { version = "0.20.0", default-features = false }
alloy-op-hardforks = { version = "0.3.5", default-features = false }

# alloy
alloy = { version = "1.0.37" }
alloy-json-rpc = { version = "1.0.37", default-features = false }
alloy-chains = { version = "0.2.5", default-features = false }
alloy-provider = { version = "1.0.37", default-features = false }
alloy-rpc-client = { version = "1.0.37", default-features = false }
alloy-transport-http = { version = "1.0.37", default-features = false }
alloy-transport = { version = "1.0.37", default-features = false }
alloy-consensus = { version = "1.0.37", default-features = false }
alloy-network = { version = "1.0.37", default-features = false }
alloy-primitives = { version = "1.3.0", default-features = false, features = [
    "rand",
    "arbitrary",
] }
alloy-contract = { version = "1.0.37", default-features = false }
alloy-rpc-types-eth = { version = "1.0.37", default-features = false }
alloy-rpc-types = { version = "1.0.37", features = [
    "eth",
], default-features = false }
alloy-rpc-types-engine = { version = "1.0.37" }
alloy-rlp = { version = "0.3.10", default-features = false, features = [
    "derive",
] }
alloy-eips = { version = "1.0.37", default-features = false }
alloy-genesis = { version = "1.0.24", default-features = false }
alloy-rpc-types-debug = "1.0.37"
alloy-signer = { version = "1.0.37", default-features = false }
alloy-signer-local = { version = "1.0.37", default-features = false, features = [
    "mnemonic",
] }
alloy-sol-types = "1.3.0"
alloy-serde = { version = "1.0.11", default-features = false }
alloy-hardforks = { version = "0.3.0", default-features = false }

# revm
revm = { version = "29.0.1", default-features = false }
revm-state = { version = "7.0.5", default-features = false }
revm-primitives = { version = "20.0.0", default-features = false }
op-revm = { version = "10.0.0", default-features = false }
alloy-op-evm = { version = "0.21.0", default-features = false }

# rpc
jsonrpsee = { version = "0.26.0", features = ["server", "client", "macros"] }
jsonrpsee-core = { version = "0.26.0" }
jsonrpsee-types = "0.26.0"

# metrics
metrics = "0.24.0"
metrics-derive = "0.1"

tokio = { version = "1.44.2", features = ["full"] }
tokio-util = "0.7.15"
tokio-stream = "0.1.17"
tokio-tungstenite = "0.26.2"

futures = "0.3"
futures-util = "0.3"
chrono = "0.4"
thiserror = "1"
strum = { version = "0.27", features = ["derive"] }
bytemuck = "1"
semaphore-rs = { version = "0.3.1", features = ["depth_30"] }
semaphore-rs-tree = "0.3.1"
semaphore-rs-proof = "0.3.1"
clap = { version = "4", features = ["derive", "env"] }
eyre = { version = "0.6", package = "color-eyre" }
serde = { version = "1", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
parking_lot = "0.12"
derive_more = { version = "2", default-features = false, features = ["full"] }
dotenvy = "0.15.7"
tikv-jemallocator = { version = "0.6" }
bytes = "1.7.2"
hex = "0.4.3"
tempfile = "3"
criterion = { version = "0.5", features = ["async_tokio"] }
test-case = "3"
ethers-core = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
serde_json = "1"
rand = { version = "0.9", features = ["small_rng"] }
reqwest = { version = "0.12", default-features = false }
bon = "3.3.0"
rayon = "1.10.0"
auto_impl = "1"
async-trait = "0.1.88"
dashmap = "6.1.0"
tower = "0.5.0"
arbitrary = { version = "=1.4.2", features = ["derive"] }
blake3 = "1.8.2"
ed25519-dalek = { version = "2", features = ["serde"] }
sha2 = "0.10.9"
url = "2.5.7"
brotli = "8.0.2"
once_cell = "1.19"

# Test
testcontainers = "0.23"
testcontainers-modules = { version = "0.11", features = ["redis"] }


# WIP
# [patch."https://github.com/paradigmxyz/reth"]
# reth = { path = "../../paradigmxyz/reth/bin/reth" }
# reth-cli-util
# reth-evm
# reth-db
# reth-db-api
# reth-provider
# reth-basic-payload-builder
# reth-transaction-pool
# reth-rpc-server-types
# reth-prune-types
# reth-trie
# reth-chain-state
# reth-chainspec
# reth-eth-wire-types
# reth-execution-types
# reth-stages-types
# reth-trie-db
# reth-primitives-traits
# reth-node-builder
# reth-node-api
# reth-payload-builder
# reth-payload-builder-primitives
# reth-payload-util
# reth-payload-validator
# reth-revm
# reth-tasks
# reth-primitives
# reth-optimism-evm
# reth-optimism-node
# reth-optimism-cli
# reth-optimism-rpc
# reth-optimism-consensus
# reth-optimism-chainspec
# reth_payload_util
# reth-optimism-payload-builder
# reth-optimism-forks
# reth-optimism-primitives
# reth-e2e-test-utils
# reth-consensus
# reth-node-core
# reth-tracing
# reth-rpc-layer
