[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.89.0"
license = "MIT"
homepage = "https://world.org/world-chain"
repository = "https://github.com/worldcoin/world-chain/"

[workspace]
resolver = "2"
members = [
    "crates/toolkit",
    "crates/world/bin",
    "crates/world/flashblocks",
    "crates/world/node",
    "crates/world/payload",
    "crates/world/rpc",
    "crates/world/pbh",
    "crates/world/pool",
    "crates/world/test-utils",
    "crates/world/chainspec",
    "crates/tests/sepolia",
    "crates/tests/devnet",
]

default-members = ["crates/world/bin"]

[profile.maxperf]
codegen-units = 1
inherits = "release"
lto = "fat"

[workspace.lints]

[workspace.dependencies]
# internal
world-chain-builder-node = { path = "crates/world/node" }
world-chain-builder-pbh = { path = "crates/world/pbh" }
world-chain-builder-payload = { path = "crates/world/payload" }
world-chain-builder-rpc = { path = "crates/world/rpc" }
world-chain-builder-pool = { path = "crates/world/pool" }
world-chain-builder-chainspec = { path = "crates/world/chainspec" }
world-chain-builder-test-utils = { path = "crates/world/test-utils" }
world-chain-builder-flashblocks = { path = "crates/world/flashblocks" }

# reth
reth = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-cli-util = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-cli = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-evm = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c", features = [
    "op",
] }
reth-db = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-db-api = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-provider = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c", features = [
    "test-utils",
] }
reth-basic-payload-builder = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-transaction-pool = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-rpc-server-types = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-prune-types = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-trie = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-chain-state = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-eth-wire-types = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-stages-types = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-trie-db = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-primitives-traits = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-node-builder = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-engine-local = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c", features = [
    "op",
] }
reth-node-api = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-payload-builder = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-payload-util = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-payload-validator = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-revm = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c", default-features = false }
reth-tasks = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-chainspec = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-rpc-engine-api = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-network-api = {git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
# reth-optimism
reth-primitives = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-evm = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-node = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-cli = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-rpc = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-consensus = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-chainspec = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth_payload_util = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-payload-builder = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-forks = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-primitives = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-e2e-test-utils = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-consensus = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-node-core = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-tracing = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-rpc-layer = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-node-ethereum = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }
reth-optimism-storage = { git = "https://github.com/0xOsiris/reth", rev = "1bb4f2c" }

# alloy op
op-alloy-consensus = "0.18.9"
op-alloy-rpc-types = "0.18.9"
op-alloy-rpc-types-engine = "0.18.9"
op-alloy-network = "0.18.9"
alloy-op-hardforks = "0.2.2"

# alloy
alloy = { version = "1.0.18" }
alloy-json-rpc = { version = "1.0.18", default-features = false }
alloy-chains = { version = "0.2.0", default-features = false }
alloy-provider = { version = "1.0.18", default-features = false }
alloy-rpc-client = { version = "1.0.18", default-features = false }
alloy-transport-http = { version = "1.0.18", default-features = false }
alloy-transport = { version = "1.0.18", default-features = false }
alloy-consensus = { version = "1.0.18", default-features = false }
alloy-network = { version = "1.0.18", default-features = false }
alloy-primitives = { version = "1.2.0", default-features = false }
alloy-rpc-types-eth = { version = "1.0.18", default-features = false }
alloy-rpc-types = { version = "1.0.18", features = [
    "eth",
], default-features = false }
alloy-rpc-types-engine = { version = "1.0.18" }
alloy-rlp = { version = "0.3.10", default-features = false }
alloy-eips = { version = "1.0.18", default-features = false }
alloy-genesis = { version = "1.0.18", default-features = false }
alloy-rpc-types-debug = "1.0.18"
alloy-signer = { version = "1.0.18", default-features = false }
alloy-signer-local = { version = "1.0.18", default-features = false }
alloy-sol-types = "1.1.0"
alloy-serde = { version = "1.0.11", default-features = false }


# revm
revm = { version = "27.0.2", default-features = false }
revm-state = { version = "*", default-features = false }
revm-primitives = { version = "20.0.0", default-features = false }
op-revm = { version = "8.0.2", default-features = false }
alloy-op-evm = { version = "0.14", default-features = false }

# rpc
jsonrpsee = { version = "0.25.1", features = ["server", "client", "macros"] }
jsonrpsee-core = { version = "0.25.1" }
jsonrpsee-types = "0.25.1"

# 3rd party
rollup-boost = { git = "https://github.com/flashbots/rollup-boost", rev = "24acb80" }
flashblocks-p2p = { git = "https://github.com/flashbots/rollup-boost", rev = "24acb80" }

tokio = { version = "1.44.2", features = ["full"] }
tokio-util = "0.7.15"
tokio-tungstenite = "0.26.2"
futures = "0.3"
chrono = "0.4"
thiserror = "1"
strum = { version = "0.27", features = ["derive"] }
bytemuck = "1"
semaphore-rs = "0.3.1"
semaphore-rs-tree = "0.3.1"
semaphore-rs-proof = "0.3.1"
clap = { version = "4", features = ["derive", "env"] }
eyre = { version = "0.6", package = "color-eyre" }
serde = { version = "1", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
parking_lot = "0.12"
derive_more = { version = "2", default-features = false, features = ["full"] }
dotenvy = "0.15.7"
tikv-jemallocator = { version = "0.6" }
bytes = "1.7.2"
hex = "0.4.3"
tempfile = "3"
criterion = { version = "0.5", features = ["async_tokio"] }
test-case = "3"
ethers-core = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
serde_json = "1"
rand = { version = "0.9", features = ["small_rng"] }
reqwest = { version = "0.12", default-features = false }
bon = "3.3.0"
rayon = "1.10.0"
auto_impl = "1"
async-trait = "0.1.88"
dashmap = "6.1.0"
tower = "0.5.0"

# WIP
# [patch."https://github.com/0xOsiris/reth"]
# reth = { path = "../../paradigmxyz/reth/bin/reth" }
# reth-cli-util
# reth-evm
# reth-db
# reth-db-api
# reth-provider
# reth-basic-payload-builder
# reth-transaction-pool
# reth-rpc-server-types
# reth-prune-types
# reth-trie
# reth-chain-state
# reth-chainspec
# reth-eth-wire-types
# reth-execution-types
# reth-stages-types
# reth-trie-db
# reth-primitives-traits
# reth-node-builder
# reth-node-api
# reth-payload-builder
# reth-payload-builder-primitives
# reth-payload-util
# reth-payload-validator
# reth-revm
# reth-tasks
# reth-primitives
# reth-optimism-evm
# reth-optimism-node
# reth-optimism-cli
# reth-optimism-rpc
# reth-optimism-consensus
# reth-optimism-chainspec
# reth_payload_util
# reth-optimism-payload-builder
# reth-optimism-forks
# reth-optimism-primitives
# reth-e2e-test-utils
# reth-consensus
# reth-node-core
# reth-tracing
# reth-rpc-layer
