[package]
name = "flashblocks-builder"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true


[dependencies]
# reth
reth.workspace = true
reth-basic-payload-builder.workspace = true
reth-chain-state.workspace = true
reth-chainspec.workspace = true
reth-provider.workspace = true
reth-primitives.workspace = true
reth-transaction-pool.workspace = true
reth-trie-common.workspace = true
reth-payload-primitives.workspace = true
reth-payload-util.workspace = true
reth-evm.workspace = true
reth-node-api.workspace = true
reth-rpc-eth-api.workspace = true
reth-rpc-eth-types.workspace = true
reth-storage-api.workspace = true
reth-node-builder.workspace = true
reth-tasks.workspace = true

# op-reth
reth-optimism-forks.workspace = true
reth-optimism-node.workspace = true
reth-optimism-rpc.workspace = true
reth-optimism-payload-builder.workspace = true
reth-optimism-primitives.workspace = true
reth-optimism-chainspec.workspace = true
reth-optimism-evm.workspace = true

# alloy
alloy-consensus.workspace = true
alloy-rlp.workspace = true
alloy-primitives.workspace = true
alloy-eips.workspace = true
alloy-genesis.workspace = true
alloy-eip7928.workspace = true
op-alloy-consensus.workspace = true
op-alloy-network.workspace = true
op-alloy-rpc-types-engine.workspace = true
op-alloy-rpc-types.workspace = true
alloy-rpc-types-engine.workspace = true
alloy-op-evm.workspace = true
alloy-evm.workspace = true
flashblocks-primitives.workspace = true
flashblocks-p2p.workspace = true

# revm
revm.workspace = true
revm-database-interface.workspace = true

# tokio
tokio.workspace = true

# metrics
metrics.workspace = true
metrics-derive.workspace = true

# misc
parking_lot.workspace = true
tracing.workspace = true
jsonrpsee-core.workspace = true
jsonrpsee.workspace = true
futures.workspace = true
serde.workspace = true
serde_json.workspace = true
eyre.workspace = true
rayon.workspace = true
dashmap.workspace = true
lazy_static.workspace = true
thiserror.workspace = true

cfg-if.workspace = true

[dev-dependencies]
alloy-sol-types.workspace = true
revm-interpreter.workspace = true
alloy-signer-local.workspace = true
reth-tracing.workspace = true
reth-trie.workspace = true
reth-storage-api.workspace = true

[features]
test = []
diagnostics = []
