[package]
name = "world-chain-builder-node"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
world-chain-builder-payload.workspace = true
world-chain-builder-pool.workspace = true
world-chain-builder-test-utils = { workspace = true, optional = true }
world-chain-builder-pbh = { workspace = true, optional = true }
world-chain-builder-flashblocks.workspace = true

rollup-boost.workspace = true
flashblocks-p2p.workspace = true

reth.workspace = true
reth-chain-state = { workspace = true, optional = true }
reth-db = { workspace = true, optional = true }
reth-node-builder.workspace = true
reth-engine-local.workspace = true
reth-optimism-chainspec.workspace = true
reth-optimism-node.workspace = true
reth-optimism-primitives.workspace = true
reth-optimism-storage.workspace = true
reth-optimism-payload-builder.workspace = true
reth-optimism-rpc.workspace = true
reth-primitives.workspace = true
reth-primitives-traits.workspace = true
reth-tracing = { workspace = true, optional = true }
reth-optimism-forks.workspace = true
reth-rpc-engine-api.workspace = true
reth-provider.workspace = true
reth-prune-types = { workspace = true, optional = true }
reth-trie = { workspace = true, optional = true }
reth-trie-db.workspace = true
reth-basic-payload-builder.workspace = true
reth-transaction-pool.workspace = true
reth-e2e-test-utils = { workspace = true, optional = true }
reth-node-api.workspace = true
alloy-eips = { workspace = true, optional = true }
alloy-primitives.workspace = true
alloy-rpc-types.workspace = true
alloy-sol-types = { workspace = true, optional = true }
revm-primitives = { workspace = true, optional = true }
op-alloy-consensus.workspace = true
alloy-rpc-types-eth.workspace = true
op-alloy-rpc-types-engine.workspace = true
tokio = { workspace = true }
eyre.workspace = true
futures = { workspace = true, optional = true }
clap.workspace = true
chrono = { workspace = true, optional = true }
tracing.workspace = true
parking_lot.workspace = true
alloy-consensus.workspace = true
reth-optimism-consensus.workspace = true
serde.workspace = true

[dev-dependencies]
world-chain-builder-pbh.workspace = true
world-chain-builder-rpc.workspace = true
world-chain-builder-pool = { workspace = true, features = ["test"] }

reth-e2e-test-utils.workspace = true
reth-evm.workspace = true
reth-node-core.workspace = true
reth-optimism-consensus.workspace = true
reth-optimism-evm.workspace = true
revm-primitives.workspace = true

alloy-genesis.workspace = true
alloy-network.workspace = true
alloy-signer-local.workspace = true
alloy-eips.workspace = true

tokio-tungstenite.workspace = true
tokio-util.workspace = true
criterion.workspace = true
semaphore-rs = { workspace = true, features = ["depth_30"] }
serde_json.workspace = true
chrono.workspace = true

[features]
default = []
test = [
    "world-chain-builder-test-utils",
    "world-chain-builder-pbh",
    "dep:reth-e2e-test-utils",
    "dep:reth-chain-state",
    "dep:reth-tracing",
    "dep:reth-prune-types",
    "dep:reth-trie",
    "dep:reth-db",
    "dep:alloy-sol-types",
    "dep:alloy-eips",
    "dep:revm-primitives",
    "dep:futures",
    "dep:chrono",
]
